body
{
    margin-top: 70px;
}
input.boxless-nameinput[type='text']:focus {
	border:0;
}
input.boxless-nameinput[type='text'] {
  border:0;
  display: inline-block;
  height: inherit;
  padding: inherit;
  margin-bottom: inherit;
  font-size: inherit;
  line-height: inherit;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  transition: none;
  background:inherit;
  border-radius: 0;
  width:50%;
  vertical-align:inherit;
}


.osfa-affix-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    padding: 0;
}
.osfa-sidenav-container {
	width:200px;
}
@media (max-width: 820px) { 
	.osfa-affix-sidenav.affix  {
		position:static !important;
	}
}

.osfa-affix-sidenav.affix {
	top:70px;
	width:200px;
}

.osfa-affix-sidenav .icon-chevron-right {
	float: right;
	margin-right: -6px;
	margin-top: 2px;
	opacity: 0.25;
}
.osfa-affix-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.osfa-affix-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.osfa-affix-sidenav > li.sub > a{
    font-size:13px;
	padding-left:28px;
}
.osfa-affix-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.osfa-affix-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}

section,header {
	padding-top: 60px;
	margin-top: -60px;
}

.no-left-margin {
	margin-left:0 !important;
}
.select2no-margin {
	margin-left:0 !important;
	padding-left:0 !important;
}
.select2variables .select2-choices {
	height:81px;
}
.tooltip-inner {
    white-space:pre-wrap;
}
input[type=radio] + label {
  padding-left: 5px;
  padding-right: 5px;
  display: inline;
  margin: 0;
}
.hidden {
  display: none;
  visibility: hidden;
}
