<h1>Feedback</h1>
<p>For technical feedback, please write to Ruben at <?php echo $this->Html->link('rubenarslan@gmail.com', 'mailto:'.Configure::read('Pubmed.email')
.'?subject=Archival%20Project%20Support'); ?>.</p>
