<div class="hero-unit">	
	<h1>OSC Archival</h1>
	<p><strong>OSC-Archival</strong> is an online coding project spread across many teams and sites.</p>
	<p><?=$this->Html->link('Sign up here!','/users/register',array('class' => 'btn btn-large btn-warning'))?></p>
	<p>
		The project members will code a set of published articles from top psychology journals on several criteria relevant to good research reporting and practice. It will also search the social science literature for research articles citing the original set, and code whether those papers are replications of the original research, as well as what the replications found. The <abbr>OSC</abbr> in our name stands for the <a href="http://openscienceframework.org">Open Science Collaboration</a>: an international online collaboration that aims to investigate and improve research reporting practices, mainly in psychology.</p>
</div>
<h2>Purpose and goals</h2>
<h3>What articles will OSC-Archival look at?</h3>
<p>Our starting selection consists of journal issues from the first three months of 2008 in part because five years is a long enough time for replications of the article to have been published, yet short enough that the research is still relevant to current practices. By coincidence, this is also the time period chosen for the OSC’s Replication Project (link). The coincidence is also a convenience; for that project, some studies have already been coded on some of the items we need, such as main hypothesis and effect size. Unlike the Replication Project, the Archival Project’s goals let us analyze all articles without caring about how feasible it would be to replicate them.
We also start with the same three journals as the Replication Project, representing high-impact journals (that is, with a relatively high number of citations per article) in multidisciplinary psychology (<em>Psychological Science</em>), social psychology (<em>Journal of Personality and Social Psychology</em>), and cognitive psychology (<em>Journal of Experimental Psychology: Learning, Memory and Cognition</em>). Social and cognitive psychology were chosen as a focus for the Replication Project because studies in those disciplines are relatively easy to replicate. But if the Archival Project finds enough human resources, its first priority will be to expand to the following journals in order, representing the highest 2011 ISI impact factor in their psychology sub-discipline:</p>
<ol>
<li>Developmental psychology (non-clinical): <em>Child Development</em></li>
<li>Empirical clinical psychology: <em>Journal of Consulting and Clinical Psychology</em>  </li>
<li>Functional neuroscience (in psychology): <em>Social Cognitive and Affective Neuroscience</em> </li>
</ol>

<p>Once all these journals are being coded, a secondary priority is to expand the number of articles considered, into e.g. April or May 2008.
<strong>Note: In order to participate, your institution must have a subscription to at least one of the journals being coded.</strong></p>

<h3>Who can participate?</h3>
<h4>Coders</h4>
<p>Coders can be individuals or teams; if the latter, any method can be used to come to agreement on final scoring, and the members of a team are treated collectively as one coder for the purposes of validation across the project (i.e., a one- and four-person coding team will be given the same weight when determining agreement between different coders).</p>
<p>Coders must be psychology students, or academics with a Ph.D. in psychology. Undergraduates who are two or fewer years away from graduation, and who are participating as part of a supervised psychology  club or organization, are eligible to take part. Postgraduate students (Masters’ and Ph. D. level) are also eligible to take part, with the agreement of their supervisor. Postgraduates and academics should code articles which are in their own field of methodological expertise.</p>
<p>We strongly recommend that at least one team member has taken a course or sequence on research methods and statistics. This will be very useful in interpreting the coding scheme and in coding statistical data from the articles.</p>
<p>Coders will communicate via a communication forum (e.g., phpBB forum, Google Group). One purpose of this is to bring particularly difficult cases to the Archival Project as a whole for insights.</p>
<p>For the numbers and activities of coders per article, see “Coding Procedure” below.</p>

<h4>Project and source coordinators</h4>
<p>There are a number of additional administrative roles to be filled. There will be a <strong>Project Coordinator</strong>, or coordinating team, with ultimate responsibility for project scheduling and top-level communication. This role will involve monitoring progress and coordinating expansion of the project’s scope. Roger Giner-Sorolla is currently in this role.</p>
<p>A <strong>Source Coordinator</strong> is an academic who takes responsibility for setting up the articles for a single journal – that is, entering the bibliographic data from each eligible research article into a spreadsheet – and for checking completeness of results at the end – that is, making sure each article has a full accounting of initial coding responses, as well as the coding team’s final decision. The Project Coordinator will then be responsible for combining results from the different journals into a single data set.</p>
<p>It is recommended that a faculty member take on the role of <strong>Site Coordinator</strong> for their undergraduate chapter, with multiple faculty members allowed if there are more than 25 undergraduate students participating. This role will involve claiming and coordinating work on specified sets of articles, checking quality of the work at a basic level, and contributing to discussions both locally and in the group forums when more advanced opinions are needed on difficult points of coding.</p>
<p>Finally, there will be a number of <strong>Analysis Coordinators</strong> (possibly overlapping with the other administrative roles) who, once the final data set is received, will take charge of preparing an article addressing one of the main goals listed above. (See Publication, below).</p>
<h3>What do I get out of it? </h3>
<p>Contributors, both undergraduate and coordinator, can list participation in the Archival Project on their CV.  This will be a great way to show to employers and graduate schools your experience and interest in distributed projects, technical tasks, scientific literature, and teamwork.</p>
<p>Before more specific articles on research questions are begun, there will be an open publication online of the database. This database will carry collective authorship from all individuals who have contributed five or more accurate codings (i.e., collective name such as OSC Archival Project in the citation, but with all authors listed in documents appended to the database itself), as well as those who participated in coordinating roles. In the case of coding teams, all members will be listed if at least five accurate codings per team member have been submitted by the whole team.</p>
<p>Exceptional coders will be rewarded with honors: at the close of Phase 1 of the project, a (virtual) “Gold Medal” will go to the individual or group who contributes the highest number of accurate codings per person, a “Silver Medal” to the three runners-up, and a “Bronze Medal” to the next ten runners-up after that. These honors can be listed and explained on a CV as well, and will be posted on the open database.</p>
<!--
<?php
	print_r($_SERVER);
?>-->